{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>OSS-Project</title>
  <!-- Bootstrap Core CSS -->
  <link href='{% static "mainapp/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  <style type="text/css">
      canvas{border: 1px solid black};
  </style>

  <!-- Custom Fonts -->
  <link href='{% static "mainapp/vendor/fontawesome-free/css/all.min.css" %}' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='{% static "mainapp/vendor/simple-line-icons/css/simple-line-icons.css" %}' rel="stylesheet">

  <!-- Custom CSS -->
  <link href='{% static "mainapp/css/stylish-portfolio.css" %}' rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">목차</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#Development">Development</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="preview-bar bg-white fixed-top py-2 border-bottom-primary">
    <div class="container-fluid h-100">
        <div class="row align-items-center justify-content-between h-100">
            <div class="col">
                <i class="fab fa-github text-github small"></i>
                <a class="small" href="https://github.com/CAU-OSS-2019/team-project-team06">View on GitHub</a>
            </div>
        </div>
    </div>
  </div>
  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Projects Highlighting</h1>
      <h3 class="mb-5">
        <em>This is 2019-1 OpenSource Project</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Let's Try it!</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>We are working for Highlighting Part</h2>
          <p class="lead mb-5">If you want something, contact please!
            <a href="https://github.com/janghyukjin">Open-Source-Project-team6</a>!</p>
          {% comment %}<a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">Development Overview</a>{% endcomment %}
        </div>
      </div>
    </div>

      {% comment %}<form action="http://localhost/upload.php" method="post" enctype="multipart/form-data">
          <div class="filebox preview-image">
              <center>
                <style>
                    .centered {display: table;margin-left: auto;margin-right: auto;}
                </style>
                <div class="center">
                   <input class="upload-name" value="파일선택" disabled="disabled" >
                   <label for="input-file">업로드</label>
                   <input type="file" id="input-file" class="upload-hidden">
                </div>
              </center>
          </div>
      </form>
      <div>
          <center>
              <canvas id="canvas" width="500" height="500">
              </canvas>
            <button onclick="fromDataURL()">이미지로 변환-></button>
            <canvas id="copycanvas" width="500" height="500"></canvas>
          </center>
      </div>{% endcomment %}

      <form action="{% url 'mainapp:upload' %}" method="post" name="imageForm" id="file-upload-form" enctype="multipart/form-data">{% csrf_token %}
          <center>
              <input type="file" name="file" id="id_file" accept="application/pdf" required/>
              <button type="submit" class="btn btn-primary" name="uploadfile" id='upload-btn' value="image">Upload</button>
          </center>
      </form>

      <script>

           function upload(event) {
               event.preventDefault();
               var data = new FormData($('#file-upload-form').get(0));
               $.ajax({
                   //url: $(this).attr('action'),
                   //type: $(this).attr('method'),
                   url: {% url 'mainapp:upload' %},
                   type: 'POST',
                   data: data,
                   cache: false,
                   processData: false,
                   contentType: false,
                   success: function(data) {
                       alert('success');
                       alert(data);
                   },
                   error:function(request,status,error){
                       alert("실패");
                       alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                   }
               });
               return false;
           }
           $(function() {
               $('#file-upload-form').submit(upload);
           });

      </script>
      <form action="{% url 'mainapp:send' %}" method="post" name="imageForm" id="final-upload-form" enctype="multipart/form-data" novalidate>{% csrf_token %}
          <center>
              <button type="submit" class="btn btn-primary" name="uploadfile" id='upload-btn' value="image">Send</button>
          </center>
      </form>

      <script>

           function upload(event) {
               event.preventDefault();
               var data = new FormData($('#final-upload-form').get(0));
               $.ajax({
                   //url: $(this).attr('action'),
                   //type: $(this).attr('method'),
                   url: {% url 'mainapp:send' %},
                   type: 'POST',
                   data: data,
                   cache: false,
                   processData: false,
                   contentType: false,
                   success: function(data) {
                       alert('success');
                       alert(data);
                   },
                   error:function(request,status,error){
                       alert("실패");
                       alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                   }
               });
               return false;
           }
           $(function() {
               $('#file-upload-form').submit(upload);
           });

      </script>

  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">Development Overview</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Highlighting</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Highlighting</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Keywords</strong>
          </h4>
          <p class="text-faded mb-0">Extracted keywords in your files
            <i class="fas fa-heart"></i>
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>

{% comment %}
  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Welcome to
        <em>your</em>
        next website!</h2>
      <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stationary</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
      <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>
{% endcomment %}
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "mainapp/vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "mainapp/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

  <!-- Plugin JavaScript&& click and smooth control -->
  <script src='{% static "mainapp/vendor/jquery-easing/jquery.easing.min.js" %}'></script>

  <!-- smooth scroll function -->
  <script src='{% static "mainapp/js/stylish-portfolio.js" %}'></script>
  <script src='{% static "mainapp/js/canvas.js" %}'></script>

  <script>
    $(document).ready(function() {
      {% if messages %}
        {% for message in messages %}
          alert("{{ message }}");
        {% endfor %}
      {% endif %}
    });
  </script>

</body>

</html>
